/* This will contain CSS styling that are universal to all pages.*/

.bg{
  text-align: center;
}

.nav{
  display: inline-block;
  background-color: #313168;
  color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  /*padding-block: 10px;*/
  /*padding-inline: 10px;*/

}

button{
  background-color: transparent;
  /*background-color: #2b2b2b;*/
  color: white;
  font-size: 32px;
  border-color: transparent;
  box-shadow: 1px 1px 3px #000000;
}

button:hover{
  /*scale: 120%;*/
  opacity: 75%;
}

.nav_block{
  display: inline-block;
  background-color: white;
  height: 30px;
  width: 1px;
}
.signIn{
  text-align: right;
  margin-top: 2px;
  margin-right: 10px;
}
.login{
  display: inline-block;
  background-color: darkgreen;
}

.signUp{
  display: inline-block;
  background-color: forestgreen;
}