/* This will contain CSS styling that are universal to all pages.*/
.content{
  text-align: center;
}

.nav{
  display: inline-block;
  background-color: #313168;
  color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  /*padding-block: 10px;*/
  /*padding-inline: 10px;*/

}

button{
  background-color: transparent;
  font-family: "sans-serif";
  color: white;
  font-size: 32px;
  border: 2px solid black;
  box-shadow: 1px 1px 3px #000000;
}

button:hover{
  /*scale: 120%;*/
  opacity: 75%;
}

.nav_block{
  display: inline-block;
  background-color: white;
  height: 30px;
  width: 1px;
}
.signIn{
    display: flex;
    gap: 10px;
  /*text-align: right;*/
  background-color: #313168;
  padding: 10px 8px;
  border: 2px solid black;
  border-radius: 10px;
}
.login{
  margin-top: 2px;
  margin-right: 10px;
  display: inline-block;
}

.signUp{
  margin-top: 2px;
  margin-right: 2px;
  display: inline-block;
  background-color: forestgreen;
}

.logo{
  display: inline-block;
  text-align: left;
  /*border: 2px solid #313168;*/
}

.box{
  background: rgba(255, 255, 255, 0.8);
  width: 400px;
  height: 650px;
  border-radius: 25px;
  align-content: center;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  /*-webkit-transform: translate(-50%, -50%);*/
  transform: translate(-50%, -50%);
}

label{
  font-size: 32px;
}

input{
  scale: 1.25;
  border-color: transparent;
  border-radius: 10px;
}

.submit{
  border: 2px solid black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}